body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #007bff;
}

table {
    width: 100%;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

.navbar {
    margin-bottom: 20px;
}
